@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@100;300;400;500;600;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root {
    --font-primary: 'Montserrat', sans-serif;
    --font-secundary: 'Lato', sans-serif;
    --font-action: 'Roboto', sans-serif;
}

body{
    width: 100%;
    overflow-x: hidden;
}


/* ================================================================================================ */
/* =================================== INICIO CSS HEADER ===========================================*/
/* ================================================================================================ */

header{
    width: 100vW;
    height: 80px;
    background-color: white;
    margin-bottom: 100px;
    border-bottom: 1px solid;
}

.menu-wrapper{
    width: 100%;
    height: 100%;
}

.menu-link-wrapper{
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}

.menu-link-wrapper li{
    margin: 10px;
}

.menu-link-wrapper li a{
    position: relative;
    padding: 10px 15px;
    text-decoration: none;
    font-family: var(--font-secundary);
    font-weight: 500;
    font-size: 1em;
    color: #00a3b3;
}

.menu-link-wrapper li a::after{
    position: absolute;
    content: "";
    width: 0%;
    height: 3px;
    background-color: #00a3b3;
    top: 80%;
    left: 15px;
    transition: all .3s ease;
}

.menu-link-wrapper li a:hover:after{
    width: 80%;
}


/* ================================================================================================ */
/* =================================== FIM CSS HEADER ==============================================*/
/* ================================================================================================ */


/* ================================================================================================ */
/* =================================== INICIO CSS SECTION ========================================= */
/* ================================================================================================ */

.sessao-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sessao-header h1 {
  font-family: var(--font-primary);
  font-size: 3rem;
  color: #4b4b4b;
  border-bottom:  solid 3px #ff6b01;
  margin-bottom: 1.5rem;
}

.img-header {
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

/* ================================================================================================ */
/* =================================== FIM CSS SECTION ========================================= */
/* ================================================================================================ */

/* ================================================================================================ */
/* =================================== INICIO CSS FOOTER ===========================================*/
/* ================================================================================================ */

.footer-widget p {
  margin-bottom: 27px;
}
p {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
color:white;
  line-height: 28px;
}

 .animate-border {
position: relative;
display: block;
width: 115px;
height: 3px;
background: #ff6b01; }

.animate-border:after {
position: absolute;
content: "";
width: 35px;
height: 3px;
left: 0;
bottom: 0;
border-left: 10px solid #fff;
border-right: 10px solid #fff;
-webkit-animation: animborder 2s linear infinite;
animation: animborder 2s linear infinite; }

@-webkit-keyframes animborder {
0% {
  -webkit-transform: translateX(0px);
  transform: translateX(0px); }
100% {
  -webkit-transform: translateX(113px);
  transform: translateX(113px); } }

@keyframes animborder {
0% {
  -webkit-transform: translateX(0px);
  transform: translateX(0px); }
100% {
  -webkit-transform: translateX(113px);
  transform: translateX(113px); } }

.animate-border.border-white:after {
border-color: #fff; }

.animate-border.border-yellow:after {
border-color: #F5B02E; }

.animate-border.border-orange:after {
border-right-color: #ff6b01;
border-left-color: #ff6b01; }

.animate-border.border-ash:after {
border-right-color: #EEF0EF;
border-left-color: #EEF0EF; }

.animate-border.border-offwhite:after {
border-right-color: #F7F9F8;
border-left-color: #F7F9F8; }

/* Animated heading border */
@keyframes primary-short {
0% {
  width: 15%; }
50% {
  width: 90%; }
100% {
  width: 10%; } }

@keyframes primary-long {
0% {
  width: 80%; }
50% {
  width: 0%; }
100% {
  width: 80%; } } 

.dk-footer {
  padding: 75px 0 0;
  background-color: #151414;
  position: relative;
  z-index: 2; 
}

.dk-footer .dk-footer-information .row > div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} 

.dk-footer .contact-us {
  margin-top: 0;
  margin-bottom: 30px;
  padding-left: 80px; 
}

  .dk-footer .contact-us .contact-info {
    margin-left: 50px; 
  }

  .dk-footer .contact-us.contact-us-last {
    margin-left: -80px; 
  }

.dk-footer .contact-icon i {
  font-size: 24px;
  top: -15px;
  position: relative;
  color:#ff6b01; 
}

.dk-footer-box-info {
position: absolute;
top: -10px; 
background: #202020;
padding: 40px;
z-index: 2; }
.dk-footer-box-info .footer-social-link h3 {
  color: #fff;
  font-size: 24px;
  margin-bottom: 25px; }
.dk-footer-box-info .footer-social-link ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }
.dk-footer-box-info .footer-social-link li {
  display: inline-block; }
.dk-footer-box-info .footer-social-link a i {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  background: #000;
  margin-right: 5px;
  color: #fff; }
  .dk-footer-box-info .footer-social-link a i.fa-facebook {
    background-color: #3B5998; }
  .dk-footer-box-info .footer-social-link a i.fa-building {
    background-color: #ff6b01; }
  .dk-footer-box-info .footer-social-link a i.fa-instagram {
    background-color: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);  }

.footer-awarad {
margin-top: 285px;
display: -webkit-box;
display: -webkit-flex;
display: -moz-box;
display: -ms-flexbox;
display: flex;
-webkit-box-flex: 0;
-webkit-flex: 0 0 100%;
-moz-box-flex: 0;
-ms-flex: 0 0 100%;
flex: 0 0 100%;
-webkit-box-align: center;
-webkit-align-items: center;
-moz-box-align: center;
-ms-flex-align: center;
align-items: center; }
.footer-awarad p {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  margin-left: 20px;
  padding-top: 15px; }

.footer-info-text {
margin: 26px 0 32px; }

.footer-left-widget {
  padding-left: 80px;
}

.footer-left-widget h3{
  display: inline-block;
}

.footer-widget{
  display: flex;
  flex-direction: column;
  align-items: center;
}



.footer-widget .section-heading {
margin-bottom: 35px; }

.footer-widget h3 {
font-size: 24px;
color: #fff;
position: relative;
margin-bottom: 15px;
max-width: -webkit-fit-content;
max-width: -moz-fit-content;
max-width: fit-content; 
white-space: nowrap;
}

.footer-widget ul {
/* width: 50%; */
float: left;
list-style: none;
margin: 0;
padding: 0; 
}


.footer-widget li {
margin-bottom: 18px; 
display: flex;
justify-content: center;
}

.footer-widget p {
margin-bottom: 27px; }

.footer-widget a {
  width: auto;
  text-align: center;
color: #878787;
-webkit-transition: all 0.3s;
-o-transition: all 0.3s;
transition: all 0.3s; 
white-space: nowrap;

}
.footer-widget a:hover {
  color: #ff6b01; }

.footer-widget:after {
content: "";
display: block;
clear: both; }

.dk-footer-form {
position: relative; }
.dk-footer-form input[type=email] {
  padding: 14px 28px;
  border-radius: 50px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E; }
.dk-footer-form input::-webkit-input-placeholder, .dk-footer-form input::-moz-placeholder, .dk-footer-form input:-ms-input-placeholder, .dk-footer-form input::-ms-input-placeholder, .dk-footer-form input::-webkit-input-placeholder {
  color: #878787;
  font-size: 14px; }
.dk-footer-form input::-webkit-input-placeholder, .dk-footer-form input::-moz-placeholder, .dk-footer-form input:-ms-input-placeholder, .dk-footer-form input::-ms-input-placeholder, .dk-footer-form input::placeholder {
  color: #878787;
  font-size: 14px; }
.dk-footer-form button[type=submit] {
  position: absolute;
  top: 0;
  right: 0;
  padding: 12px 24px 12px 17px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 1px solid #ff6b01;
  background: #ff6b01;
  color: #fff; }  
.dk-footer-form button:hover {
  cursor: pointer; }

/* SEÇÃO PARCEIROS */

.align-social {
  display: flex;
}

.form-row .footer-social-link{
  width: auto;
  display: flex;
}

.align-social li {
  margin-right: 1rem;
}

h5 {
  font-size: 20px;
  color: #fff;
  position: relative;
  font-weight: 400;
  margin-bottom: 1rem;
}

.footer-social-link a .fa.size {
  font-size: 1.5rem;  
  
}

.footer-social-link{
  width: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.parceiros-two .social-media-links{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.parceiros-two .social-media-links li{
  margin: 0;
  padding: 5px 10px;
}

/* ==========================

  Contact

=============================*/
.contact-us {
position: relative;
z-index: 2;
margin-top: 65px;
display: -webkit-box;
display: -webkit-flex;
display: -moz-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-webkit-align-items: center;
-moz-box-align: center;
-ms-flex-align: center;
align-items: center; }

.contact-icon {
position: absolute; }
.contact-icon i {
  font-size: 36px;
  top: -5px;
  position: relative;
  color: #ff6b01; }

.contact-info {
margin-left: 75px;
color: #fff; }
.contact-info h3 {
  font-size: 20px;
  color: #fff;
  margin-bottom: 0; }

.copyright {
padding: 28px 0;
margin-top: 55px;
background-color: #202020; }
.copyright span,
.copyright a {
  color: #878787;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear; }
.copyright a:hover {
  color:#ff6b01; }

.copyright-menu ul {
text-align: right;
margin: 0; }

.copyright-menu li {
display: inline-block;
padding-left: 20px; }

.back-to-top {
  position: relative;
  z-index: 2; 
}

.back-to-top .btn-dark{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding: 0;
  position: fixed;
  bottom: 55px;
  right: 20px;
  background: #2e2e2e;
  display: none;
  z-index: 20;
  transition: all 0.3s linear; 
}

.back-to-top .btn-dark:hover {
  cursor: pointer;
  background: #ff6b01;
  border-color: #ff6b01; 
}

/* ================================================================================================ */
/* =================================== FIM CSS FOOTER ==============================================*/
/* ================================================================================================ */
